<!doctype html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <title>Clothing Store</title>
  <link rel="stylesheet" href="/css/fashion.css">
</head>
<body>
<div id="wrap" class="container-fluid">

  <!-- Header -->
  <header class="header">
    <div class="header-container">
      <!-- Logo -->
      <div class="logo">
        <a href="/">Fashion</a>
      </div>

      <!-- Navigation -->
      <nav class="nav">
        <ul class="nav-list">
          <li>
            <a href="#">Best</a>
            <ul class="submenu">
              <li><a href="#">Women</a></li>
              <li><a href="#">Men</a></li>
              <li><a href="#">Casual</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Golf</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Kids</a></li>
              <li><a href="#">Underwear</a></li>
              <li><a href="#">Lifestyle</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Women</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Skirts</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Men</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Casual</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Sports</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Golf</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Shoes</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Kids</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Underwear</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Lifestyle</a>
            <ul class="submenu">
              <li><a href="#">Tops</a></li>
              <li><a href="#">Bottoms</a></li>
              <li><a href="#">Outerwear</a></li>
              <li><a href="#">Shoes</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- User Menu -->
      <div class="user-menu">
        <a href="#">My Page</a>
        <a href="#">My Likes</a>
        <a href="#">Shopping Bag</a>
        <a href="#">Login</a>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <div layout:fragment="content">
      <!-- Content -->
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 Fashion Mall. All rights reserved.</p>
  </footer>
</div>
</body>
</html>
