<!doctype html>
<html lang="ko" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="base.html">
<head>
    <title>메인 페이지</title>
</head>
<body>
<div layout:fragment="content">
    <section class="product-list">
            <div class="product">
                <img src="/images/fashion.jpg" alt="Product 1">
                <p>사이로 <br> 51% 42,000원</p>
            </div>
            <div class="product">
                <img src="/images/fashion.jpg" alt="Product 2">
                <p>오르<br>42% 150,100원</p>
            </div>
            <div class="product">
                <img src="/images/fashion.jpg" alt="Product 3">
                <p>오르<br>53% 75,810원</p>
            </div>
            <div class="product">
                <img src="/images/fashion.jpg" alt="Product 4">
                <p>다크루<br>10% 272,700원</p>
            </div>
        </section>
</div>
</body>
</html>
